.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.headerIcon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(180deg, #5aa8ff 0%, #1675ff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.title {
  margin-top: 12px;
}

.description {
  margin-top: 8px;
}

.primaryButton {
  margin-top: 28px;
  margin-bottom: -12px;
  width: 100%;
}

.actions {
  margin-top: 12px;
}


