.root {
  // height: 100vh;
  width: 100%;
  padding-top: calc(var(--tg-safe-area-inset-top) + var(--tg-content-safe-area-inset-top));
  // padding: 0 16px 16px 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  opacity: 1;
  animation: fadeIn 0.3s ease-in-out;
}

.center {
  margin: 0;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}