@import "tailwindcss";

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('https://raw.githubusercontent.com/Austcool-Walker/San-Francisco-Pro/main/SF-Pro-Rounded-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --tg-theme-section-separator-color: #efeff4;
}

@theme {
  --color-bg: #efeff4;
  /* --color-bg: #ffffff; */
  --color-text-secondary: rgba(0, 0, 0, 0.5);
  --color-secondary-bg: #ffffff;
  --color-button: #007aff;
  --color-second-button: rgba(0, 122, 255, 0.1);
  --bottom-bar-height: 56px;
  --color-button-text: #ffffff;
  --color-text: #000000;
  --color-subtitle: #8e8e93;
  --color-link: #007aff;
  --color-tertiary-fill-bg: rgba(116, 116, 128, 0.12);
  --color-quaternary-fill-bg: rgba(116, 116, 128, 0.08);
  --color-card-bg: #ffffff;
  /* --color-card-bg: rgba(244, 244, 245, 1); */
  --color-segmented_control_active_bg: rgba(255, 255, 255, 1);
  --color-accent-text: #007aff;
  --color-section-header-text: #6d6d72;
  --color-section-border: #c8c7cc;
  --text-xs: 11px;
  --text-xs--line-height: 13px;
  --text-sm: 13px;
  --text-sm--line-height: 18px;
  --text-sm-max: 14px;
  --text-sm-max--line-height: 18px;
  --text-base: 17px;
  --text-base--line-height: 22px;
  --text-3xl: 28px;
  --text-3xl--line-height: 38px;
  --text-big-title: 64px;
  --text-big-title--line-height: 72px;
  --tracking-footnote: -0.08px;
  --tracking-subheadline: -0.15px;
  --tracking-title: 0.38px;
  --tracking-body: -0.43px;
  --tracking-big-title: 0.38px;
  --rounded-sm: 4px;
  --rounded-md: 6px;
  --rounded-lg: 9px;
  --shadow-tab: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text);

    font-family: "SF Pro", sans-serif;
    font-weight: 400;
    line-height: 22px;
    font-size: 17px;
  }

  #root {
    @apply flex flex-col justify-between min-h-screen;
  }

  main {
    @apply px-6 py-3;
  }

  .border-top-button {
    border-top: 0.33px solid rgba(60, 60, 67, 0.36);
  }

  .border-giveaway {
    @apply relative after:content-[''] after:absolute after:right-0 after:bottom-0 after:h-px after:bg-section-border;
  }

  .dropdown-menu {
    /* filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.16)); */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.16);
    background: rgba(179, 179, 179, 0.12);
    backdrop-filter: blur(15px);
    border-radius: 12px;
    margin-bottom: 20px;
  }

  .dropdown-menu li:not(:last-child) {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.55);
  }

  .text-timer-bold {
    font-family: "SF Pro Rounded";
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0.38px;
    background: linear-gradient(131.09deg, #FF9D00 13.86%, #FD571A 88.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
